block classes
	- var homeclass = undefined
	- var userclass = undefined
	- var chatclass = undefined
	- var contactclass = '.active'
	- var aboutclass = undefined

extends template

block jumbotron

block container
	.container
		.row
			.col-md-4(style='height: 450px;')
				img(height='150px', src='/img/main.jpg')
				h2 Alex Tsvetanov
				br
			.col-md-4(style='height: 450px;')
				img(height='150px', src='/aboutus/aboutus/dimo.jpg')
				h2 Dimo Chanev
				br
			.col-md-4(style='height: 450px;')
				img(height='150px', src='/aboutus/aboutus/delian.jpg')
				h2 Delian Pirinski
				br
			.col-md-4(style='height: 450px;')
				img(height='150px', src='/aboutus/aboutus/crasy.jpg')
				h2 Krassi Paskalev
				br
			.col-md-4(style='height: 450px;')
				img(height='150px', src='/aboutus/aboutus/tinchev.jpg')
				h2 Vasil Tinchev
				br
			.col-md-4(style='height: 450px;')
				img(height='150px', src='/aboutus/aboutus/verdinandov.jpg')
				h2 Krasen Ferdinandov
				br
