extends ../template

block jumbotron

block title
	h1.display-3 Algo

block container
	.container
		.row
			.col-md-4
				h2 Presentations
				p Presentations
				p
					a.btn.btn-secondary(href='./algo/presentations.html', role='button') View details »
			.col-md-4
				h2 Videos
				p Videos
				p
					a.btn.btn-secondary(href='./algo/videos.html', role='button') View details »
			.col-md-4
				h2 Exams
				p Exams
				p
					a.btn.btn-secondary(href='./algo/exams.html', role='button') View details »

