extends ../../template

block jumbotron

block title
	h1.display-3 C# :: Exams

block container
	.container
		.row
			.col-md-4
				h2 Exam 1
				p First exam of this course
				p
					a.btn.btn-secondary(href='./exams/1.html', role='button') View details »
