extends ../../template

block jumbotron

block title
	h1.display-3 C# :: Videos

block container
	.container
		.row
			.col-md-4
				h2 01. Introduction to Programming in C#
				p First video of this course
				p 
					a.btn.btn-secondary(href="./videos/unit1.html", role="button") View details »
